<!DOCTYPE html>
<html>
<head>
	<title>{{ title }}</title>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>
<body>
	
		<div class="container">
			<nav class="navbar navbar-default">
			    <div class="navbar-header">
					<a class="navbar-brand" href="#">
						<img src="logo.jpg">
					</a>
					<h2 class="navbar-text" >Welcome to {{title}} </h2>
					<a href="/scrape" class="navbar-link"><button type="button" class="btn btn-default btn-info navbar-btn navbar-right">News update <span id="cloud" class="glyphicon glyphicon-cloud-download" aria-hidden="true"></span></button></a>
				
			      
			    </div>
			</nav>
		</div>
	

	{{{ body }}}


	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script
    <script src="app.js"></script>
</body>
</html>