
{{# if results}} 
    {{# each results}}
        <div class="container">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{this.title}} <button type="button" class="btn btn-default">Save</button></h3>
                </div>
                <div class="panel-body">
                    {{this.blurb}}
                </div>
                <div class="panel-footer"><a href="{{this.link}}">{{this.link}}</a></div>
            </div>
        </div>
    {{/ each}}
{{/if}}